@import "tailwindcss";

@theme {
  --color-background: oklch(94.85% 0.0148 19.18148516721477);
  --color-foreground: oklch(37.5% 0.0296 19.18148516721477);
}

:root {
  @apply bg-background text-foreground;
}

.v-button {
  @apply cursor-pointer p-1 px-2 rounded-sm;
  @apply bg-foreground text-background;
  @apply disabled:cursor-not-allowed disabled:bg-foreground/50;
}

.v-input {
  @apply rounded-sm p-1 px-2;
  @apply bg-white border-2 border-foreground;
}

.v-icon {
  @apply w-6 h-6;
  @apply relative;
}

/* Fix broken images */
.v-icon::before {
  @apply bg-white;
  @apply absolute top-0 left-0 w-full h-full;
  @apply content-[''];
}

@keyframes spin {
  0% {
    rotate: 0deg;
  }

  25% {
    rotate: 90deg;
  }

  50% {
    rotate: 180deg;
  }

  75% {
    rotate: 270deg;
  }
}
